<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <!--The final view of the website-->
  <h2>What's popular today</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Upvotes</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr>
          <td><%= redditresult[0].title %></td>
          <td><%= redditresult[0].score %></td>
          <td><%= redditresult[0].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[1].title %></td>
          <td><%= redditresult[1].score %></td>
          <td><%= redditresult[1].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[2].title %></td>
          <td><%= redditresult[2].score %></td>
          <td><%= redditresult[2].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[3].title %></td>
          <td><%= redditresult[3].score %></td>
          <td><%= redditresult[3].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[4].title %></td>
          <td><%= redditresult[4].score %></td>
          <td><%= redditresult[4].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[5].title %></td>
          <td><%= redditresult[5].score %></td>
          <td><%= redditresult[5].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[6].title %></td>
          <td><%= redditresult[6].score %></td>
          <td><%= redditresult[6].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[7].title %></td>
          <td><%= redditresult[7].score %></td>
          <td><%= redditresult[7].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[8].title %></td>
          <td><%= redditresult[8].score %></td>
          <td><%= redditresult[8].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[9].title %></td>
          <td><%= redditresult[9].score %></td>
          <td><%= redditresult[9].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[10].title %></td>
          <td><%= redditresult[10].score %></td>
          <td><%= redditresult[10].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[11].title %></td>
          <td><%= redditresult[11].score %></td>
          <td><%= redditresult[11].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[12].title %></td>
          <td><%= redditresult[12].score %></td>
          <td><%= redditresult[12].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[13].title %></td>
          <td><%= redditresult[13].score %></td>
          <td><%= redditresult[13].user %></td>
        </tr>
      </tr>
      <tr>
        <tr>
          <td><%= redditresult[14].title %></td>
          <td><%= redditresult[14].score %></td>
          <td><%= redditresult[14].user %></td>
        </tr>
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>
